:root {
    --clr-primary-dark: #a3a380;
    --clr-primary: #d6ce93;
    --clr-primary-light: #efebce;
    --clr-secondary: #d8a48f;
    --clr-secondary-dark: #bb8588;
}
body {
    padding-top: 30px;
}
input{
    border: 2px solid var(--clr-secondary-dark);
}


#calculator-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: auto;
    width: 500px;
    height: 800px;
    background: var(--clr-primary-light);
    border: 5px s solid;
}
.calc-button {
    background: var(--clr-secondary);
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

/* display section */
#screen {
    grid-area: 1 / 1 / 2 / 5;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    
}

.screenrow {
    box-sizing: border-box;
    width: 100%;
    font-size: large;
    background-color: transparent;
    text-align: right;
    border: none;
}
#formula {
    font-size: 20px;
}
#display {
    font-size: 35px;
}
/* buttons */
#clear {
    grid-area: 2 / 1 / 3 / 3;
    background-color: var(--clr-primary-dark);
}
#divide {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--clr-primary);
    text-align: center;
}
#multiply {
    grid-area: 2 / 4 / 3 / 5;
    background-color: var(--clr-primary);
}
.numbers-box {
    grid-area: 3 / 1 / 7 / 4;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.numbers {
    width: 33.33%;
    height: 25%;
}
.zero-width {
    width: 66.66%
}
#subtract {
    grid-area: 3 / 4 / 4 / 5;
    background-color: var(--clr-secondary);
}
#add {
    grid-area: 4 / 4 / 5/ 5;
    background-color: var(--clr-primary-dark);

}
#equals {
    grid-area: 5/ 4 / 7 / 5;
    background-color: var(--clr-secondary-dark);
    color: aliceblue;
}
