body {
    padding-top: 30px;
}


#calculator-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: auto;
    width: 500px;
    height: 800px;
    background: red;
}
.calc-button {
    background: pink;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}
#display {
    grid-area: 1 / 1 / 2 / 5;
    background-color: antiquewhite;
    text-align: right;
    border: 2px black solid;
}
#clear {
    grid-area: 2 / 1 / 3 / 3;
    background-color: aqua;
}
#divide {
    grid-area: 2 / 3 / 3 / 4;
    background-color: blue;
    color: white;
    text-align: center;
}
#multiply {
    grid-area: 2 / 4 / 3 / 5;
    background-color: lightblue;
}
.numbers-box {
    grid-area: 3 / 1 / 7 / 4;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.numbers {
    width: 33.33%;
    height: 25%;
}
.zero-width {
    width: 66.66%
}
#subtract {
    grid-area: 3 / 4 / 4 / 5;
    background-color: pink;
}
#add {
    grid-area: 4 / 4 / 5/ 5;
    background-color: aquamarine;

}
#equals {
    grid-area: 5/ 4 / 7 / 5;
    background-color: green;
    color: aliceblue;
}
